body {
    background-color: rgb(190, 118, 110);
    text-align: center;
   
}

.div-task {
    padding: 20px;
    border: 20px;
    background-color: rgb(204, 180, 148);
    background-position: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: inset;
    

}




#task{
    border-radius: 10px;
   
    

}

#bottone{
    background-color: green;
    border-radius: 10px;
    color: white;
    
}